@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Serif+TC:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');


:root{
    --dark-bg: #212529;
    --dark-color: #dee2e6;  /* rgb(222, 226, 230) */
    --dark-secondary-bg: ##343a40;
    --dark-secondary-color: rgba(222, 226, 230, 0.75);
    --dark-tertiary-bg: #2b3035;
    --dark-teriary-color: rgba(222, 226, 230, 0.5);
}

@font-face {
    font-family: "UniDreamLED";
    src: url("./src/font/UnidreamLED.otf") format("opentype");
}

@keyframes fadein{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body{
    height: 100vh;
    width: 100vw;
    position: fixed;

    font-family: "Poppins", "Noto Serif TC", sans-serif;
    color: white;
    
    scroll-behavior: smooth;
    cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='10px' height='10px'><circle cx='4' cy='4' r='4' fill='white' /></svg>") 4 4, auto !important;

    animation: fadein 1.25s ease-in;
}
a,
a:hover,
button:hover{
    color: white;
    text-decoration: none;
    cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='10px' height='10px'><circle cx='4' cy='4' r='4' fill='black' /></svg>") 4 4, auto !important;
}

#cursor_circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    transition-duration: .1s;
    background-color: rgba(255, 255, 255, 0.4);
    /* backdrop-filter: invert(70%); */
    backdrop-filter: grayscale(90%);
}


@media (max-width: 576px) {
    #cursor_circle{
        display: none;
    }
}